*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.places
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.places h1
{
    font-size: 30px;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
}

.places article
{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
}

.places article h2
{
    font-size: 30px;
}
